.header {
    background-color: #2d314c;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 20px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-container {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container button {
    background-color: #f58020;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown {
    width: 100%;
    padding: 10px;
}

.pad-10 {
    padding: 10px;
}

.back-btn {
    color: #2d314c;
    cursor: pointer;
    text-decoration: underline;
}